# default reviewers
*               @greenbone/dataminers @SteffenKraft @mkarpusiewicz-greenbone @HollererJ 

# .github
.github/        @greenbone/dataminers @SteffenKraft @mkarpusiewicz-greenbone @HollererJ @greenbone/devops